.container__content{
  width: 100%;
  height: 100vh;
  padding: 10px;
  margin-top: 20px;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.content__cover > img{
  border: 5px solid rgb(144, 144, 144);
  border-radius: 5px;
  width: 300px;
  height: 300px;
  min-width: 300px;
}

.a.voltar{
  justify-content: center;
  display: flex;
}

.content__description{
  padding: 50px;
  justify-content: center;
}

.content__description > p {
  color: rgb(144, 144, 144);
  margin-top: 20px;
  text-align: justify;
}
